/* COLOURS variants
HEADINGS: #FF715B; #ff8b79;
HELPER: #acbcc5; #4B606D;
GREEN: #44BBA4; #daedbd;
*/

html {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.6px;
  --ff: 'Open Sans', sans-serif;
  --mainBg: #0A2833;
  --me: #ff8b79;
  --snowQueen: #F7F6F5;
  --callout: #FCCA46;
  --labels: #acbcc5;
  --border: #4B606D;
  --goGo: #44BBA4;
}

body {
  max-width: 980px;
  color: var(--labels);
  font-family: var(--ff);
  margin: auto;
}

header {
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  color: var(--me);
}


.container {
  max-width: 640px;
  padding: 1rem 2rem 1rem;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--mainBg);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.helper {
  color: var(--helper);
}

/******************************************
/* FORM ELEMENTS
/*******************************************/

input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px
  box-shadow: none;
  border: 1.2px solid var(--border);
  height: 44px;
  width: 100%;
  margin-bottom: 1rem;
  background-color: var(--mainBg);
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--me);
}
