/* COLOURS variants
HEADINGS: #FF715B; #ff8b79;
HELPER: #acbcc5; #4B606D;
GREEN: #44BBA4; #daedbd;
*/

html,
h1,
h2,
h3,
h4,
p {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.6px;
  --ff: 'Open Sans', sans-serif;
  --deepSea: #0A2833;
  --me: #ff8b79;
  --doThis: #FF715B;
  --snowQueen: #F7F6F5;
  --sun: #FCCA46;
  --iceBlue: #acbcc5;
  --thunder: #4B606D;
  --goGo: #44BBA4;
  --gradOne: #4e4376;
  --gradTwo: #2b5876;
}

body {
  max-width: 980px;
  font-family: var(--ff);
  color: var(--iceBlue);
  margin: auto;
  min-height: 100vh;
}

.mainHeader,
nav {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

.mainHeader {
  width: 100%;
}

.container {
  max-width: 375px;
  min-height: 760px;
  padding: 1rem 2rem 1rem;
  margin: 0 auto 0 auto;
  /*display: flex;
  flex-direction: column;*/
  background: var(--gradTwo);  /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, var(--gradOne), var(--gradTwo));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, var(--gradOne), var(--gradTwo)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/******************************************
/* FONT STYLES
/*******************************************/

h1 {
  font-size: 3rem;
  color: var(--me);
}

h2 {
  font-size: 2rem;
  color: var(--iceBlue);
  margin: 2rem;
}

h3 {
  font-size: 1.33rem;
  color: var(--iceBlue);
  margin: 2rem;
  text-align: center;
}

.title {
  text-align: center;
  margin: 1rem;
}

.helper {
  text-align: center;
  margin: 1rem 0;
}

/* FONT AWSOME STYLES */

.fa-fw {
  padding-right: 0.5rem;
}

/******************************************
/* CONTENT LINK STYLES (NAV LINK STYLES ARE IN responsive-nav.css)
/*******************************************/

a {
  text-decoration: none;
  color: var(--me);
}

a:hover{
  text-decoration: none;
}

ins {
  text-decoration: none;
  position: relative;
}

ins:before {
  content: "";
  /*height: 1px;
  background-color: var(--doThis);
  width: 50%;
  position: absolute;
  bottom: -2px;
  left: 0;*/
}

ins:hover::before {
  background-color: var(--doThis);
  height: 1px;
  width: 1%;
  position: absolute;
  bottom: -2px;
  left: 0;
  transform: scaleX(50);
  transform-origin: 0 0;
  transition: transform 0.3s;
}

/******************************************
/* FORM ELEMENTS
/*******************************************/

/*form {
  margin: 4rem;
}*/

fieldset {
  border: none;
}

legend {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--me);
}

input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px
  box-shadow: none;
  border: none;
  border-bottom: 0.8px solid var(--iceBlue);
  height: 44px;
  width: 100%;
  margin-bottom: 2rem;
  background-color: rgba(0,0,0,0);
  color: var(--snowQueen);
  font-size: 0.8rem;
}

label {
  display: block;
  /*margin-bottom: 0.5rem;*/
  color: var(--iceBlue);
}

button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: var(--snowQueen);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  background: var(--doThis);
  padding: 0.8rem 1.2rem;
  margin: 1rem 0;
  text-decoration: none;
  min-width: 100%;
  text-align: center;
  transition: background 0.3s ease 0s;
  border: 0px;
  cursor: pointer;
}

button a {
  color: var(--snowQueen);
}

button:hover {
  background-color: #FF5459;
}

/******************************************
/* MEDIA QUERIES
/*******************************************/

/*@media only screen and (max-width:520px) {
  form {
    margin: 2rem 0;
  }

  h1,h2,h3,h4 {
    margin: 2rem 0;
  }

  h3 {
    font-size: 1.5rem;
  }

  legend {
    font-size: 1.77rem;
  }
}*/

/*@media only screen and (min-width:641px) {
  .mainHeader {
    height: 200px;
    flex-direction: row;
  }
  nav {
    flex-direction: row;
    justify-content: space-between;
  }
  nav a {
    border-bottom: transparent;
  }
}*/
