/* COLOURS variants
HEADINGS: #FF715B; #ff8b79;
HELPER: #acbcc5; #4B606D;
GREEN: #44BBA4; #daedbd;
*/

html {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.6px;
  --ff: 'Open Sans', sans-serif;
  --deepSea: #0A2833;
  --me: #ff8b79;
  --snowQueen: #F7F6F5;
  --sun: #FCCA46;
  --iceBlue: #acbcc5;
  --thunder: #4B606D;
  --goGo: #44BBA4;
  --gradOne: #4e4376;
  --gredTwo: #2b5876;
}

body {
  max-width: 980px;
  color: var(--iceBlue);
  font-family: var(--ff);
  margin: auto;
}

header {
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  color: var(--me);
}


.container {
  max-width: 640px;
  padding: 1rem 2rem 1rem;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  background: #2b5876;  /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, var(--gradOne), var(--gredTwo));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, var(--gradOne), var(--gredTwo)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/******************************************
/* FORM ELEMENTS
/*******************************************/

input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px
  box-shadow: none;
  border: none;
  border-bottom: 0.8px solid var(--iceBlue);
  height: 44px;
  width: 100%;
  margin-bottom: 2rem;
  background-color: rgba(0,0,0,0);
}

label {
  display: block;
  /*margin-bottom: 0.5rem;*/
  color: var(--me);
}
